@charset "utf-8";
/*
@name: indexCSS
@function: for message pic
@author: ghr
*/

figure,figcaption{
margin: 0px;
padding: 0px;
overflow: hidden;
}
figure{
	margin-right: 10px;
	margin-bottom: 10px;
}
.wp-img img{
	background: #000;

}
.wp-img{
	width: 1010px;
	margin:0 auto;
	overflow: hidden;
}
.wp-img figure{
	position: relative;
	overflow: hidden;
	float: left;

}
.img0{
	width: 300px;
	height: 410px;
}
.img1{
width: 270px;
height:200px;
}
.img2{

width: 200px;
height:200px;
}
.img3{

width: 200px;
height:200px;
}
.img4{

width: 270px;
height:200px;
}

.img5{

width: 200px;
height:200px;
}
.img6{

width: 200px;
height:200px;
}

.wp-img figcaption {
	padding: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
	color: #FFF;
}
.wp-img figure,.wp-img figcaption p,.wp-img img,.wp-img div{
	transition:all 0.35s;
}
.img1 figcaption p,.img1 figcaption h2{
	transform:translate(-120px,0px);
    -ms-transform:translate(-120px,0px);
    -moz-transform:
	background: #FFF;
	color:#333;
}
.img1:hover figcaption p,.img1:hover figcaption h2{
	transform:translate(0px,0px);
	opacity: 0.8;
}




.img1 img{
transform:translate(0px,0px);
}
.img1:hover img{
transform:translate(-50px,0px);
}

@media screen and (max-width:600px){
	figure{width:100%}
} 
/*切记and前后的空格*/
@media screen  and (max-width:1000px) and (min-width:601px){
	figure{width:50%}
}
@media screen and(min-width:1001px){
	figure{width:20%}
}

.img3 figcaption{
	width: 100%;
	height:100%;
}

.img3 div{
	width: 60%;
	height:65%;
	border:1px solid #FFF;
	position: absolute;
	top:10%;
	left:10%;
	transform:translate(0px,-320px) rotate(0deg);
}

/* 中间空格隔开  rotate是角度的意思 transform:translate(0px,0px) rotate(360deg);*/
.img3:hover figcaption div{
	 transform:translate(0px,0px) rotate(360deg);
}
.img2 figcaption p,.img2 figcaption h2{
	transform:skew(90deg);
}
/*skew 是扭曲角度*/
.img2:hover figcaption p,.img2:hover figcaption h2{
	transform:skew(0deg);
}

.img2:hover img{
	opacity: 0.8;
}

.img4 figcaption {width: 100%;height: 100%;}
.img4 figcaption div{
	position: absolute;
	width: 65%;
	height:65%;
	border: 1px solid #FFF;
	left:11%;
	top:11%;
	transform:scale(1.5,1.5);
}
.img4 figcaption p{
	position: absolute;
	left:11%;
	top:20%;
	opacity: 0;
}
.img4 figcaption h2{
	position: absolute;
	left:11%;
	top:5%;
	opacity: 0;
}
.img4:hover figcaption h2,.img4:hover figcaption p{
	opacity:1;
}
.img4:hover figcaption div{
	transform:scale(1,1);
}
.img4:hover img{
	transform:scale(1.2,1.2);
}

.img5 figcaption{
	width:100%;
	height: 100%;
}

.img5 figcaption div:nth-of-type(1){
  width: 65%;
  height:50%;
  position: absolute;
  top: 10%;
  left: 10%;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  transform:scale(0,0);
opacity:0;

}
.img5 figcaption div:nth-of-type(2){
  width: 50%;
  height:65%;
  position: absolute;
  top:4%;
  left: 17%;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  transform:scale(0,0);
  opacity:0;
  filter:Alpha(Opacity=0);

}


.img5:hover figcaption div:nth-of-type(2){

  transform:scale(1,1);
  opacity:1;
  filter:Alpha(opacity=100);
}
.img5:hover figcaption div:nth-of-type(1){

   transform:scale(1,1);
   opacity:1;
   filter:Alpha(opacity=100);
}

.img6 figcaption{
	width:100%;
	height: 100%;
	padding: 0px;
}
.img6 figcaption div{
	position: absolute;
	width:120%;
	height: 100%;
	border: 1px solid #FFF;
	background-color: #FFF;
	opacity: 0.5;
	filter:Alpha(opacity=50;);
	bottom:-100%;
	transform:rotate(0deg);

}

.img6:hover figcaption div{
transform:rotate(-30deg);
transform-origin:0 0;
}



.sweep{
	transform:rotateY(180deg);
   -webkit-transform:rotateY(180deg); /* Chrome and Safari */
   -moz-transform:rotateY(180deg); /* Firefox */
-webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
-moz-backface-visibility:hidden; 	/* Firefox */
-ms-backface-visibility:hidden;

	
}


.img0 div{
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
.img0:hover>.normal{
	 transform:rotateY(180deg);
     -webkit-transform:rotateY(180deg); /* Chrome and Safari */
     -moz-transform:rotateY(180deg);
  -webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
-moz-backface-visibility:hidden; 	/* Firefox */
-ms-backface-visibility:hidden;

}
.img0:hover>.sweep{
	-webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
-moz-backface-visibility:hidden; 	/* Firefox */
-ms-backface-visibility:hidden;

	transform:rotateY(0deg);
   -webkit-transform:rotateY(0deg);
   -moz-transform:rotateY(0deg); 

}